.deck-list-container {
    margin: 0;
    padding-left: 20px;
}

.deck-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deck-list-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--navy);
    font-family: 'Emilys Candy', cursive;
}

.deck-list-filter {
    background: var(--navy);
    border: none;
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    color: var(--beige);
    font-family: 'Schoolbell', cursive;
    font-size: 1.2em;
    margin-right: 40px;
}

.deck-list-filter:hover {
    background: var(--teal);
}

.deck-list {
    list-style: none;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

.deck-item {
    margin-bottom: 20px;
    width: fit-content;
    position: relative;
}

.deck-menu-button {
    background: rgba(255, 255, 255, 0.79);
    border: none;
    cursor: pointer;
    color: var(--navy);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deck-item:hover .deck-menu-button {
    display: block;
}
/*
.menu-popover {
    position: absolute;
    top: 40px;
    right: 0;
    background: #f5efebd9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 150px;
}

.menu-item {
    cursor: pointer;
    margin: 5px 10px;
}

.menu-item:hover {
    background-color: var(--beige);
}

.edit-name-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input-edit-title {
    background: transparent;
    width: 100px;
    margin-left: 5px;
}

.input-edit-title:focus {
    outline: none;
}

.edit-name-done {
    background: none;
    border: none;
    padding: 0;
    color: var(--teal);
    cursor: pointer;
}

.tag-box {
    margin: 5px 10px;
}

.add-tag {
    width: 100%;
    border: 1px solid var(--sky-blue);
    background-color: var(--beige);
    cursor: pointer;
    margin-bottom: 5px;
}

.add-tag:hover {
    background:#f5efeb7b;
}

.new-tag-form {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.tag-inputs {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
}

.color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color-input {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid var(--navy);
    border-radius: 50%;
    cursor: pointer;
}

.name-input {
    width: 95px;
    background: transparent;
}

.name-input:focus {
    outline: none;
}

.tag-create-submit {
    width: 100%;
    border: 1px solid var(--sky-blue);
    background-color: var(--beige);
    cursor: pointer;
    margin-bottom: 5px;
}

.tag-create-submit:hover {
    background:#f5efeb7b;
}

.tags {
    padding: 0;
}

.tag-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.tag-swatch {
    width: 20px;
    height: 20px;
}

.tag-name {
    margin: 0;
}*/

.search-highlight {
    background: var(--beige);
    border-radius: 2px;
    padding: 0;
    margin: 0;
}