.home-container {
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.home-greeting {
    margin: 0;
    font-family: 'Emilys Candy', cursive;
}

.home-subtitle {
    margin: 0;
    font-family: 'Unkempt', cursive;
    font-size: 1.2em;
}

.profile-icon {
    color: pink;
}

.home-content {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 20px;
}

.home-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.decks-stats, .cards-stats, .progress-stats {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    width: 300px;
}

.decks-stats {
    background: rgba(244, 192, 192, 0.454);
    border: 2px solid rgb(244, 192, 192);
}

.cards-stats {
    background: rgba(131, 175, 140, 0.454);
    border: 2px solid rgb(131, 175, 140);
}

.progress-stats {
    background: rgba(131, 159, 175, 0.454);
    border: 2px solid rgb(131, 159, 175);
}

.stats-heading {
    font-family: 'Schoolbell', cursive;
    margin: 10px 0;
}

.stats-number {
    font-family: 'Schoolbell', cursive;
    font-size: 1.5em;
    margin: 10px 0;
}

.home-decks-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-subtitle-1 {
    margin: 0;
    font-family: 'Unkempt', cursive;
    font-size: 1.5em;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.see-all {
    margin: 0;
    cursor: pointer;
    padding: 5px;
    font-family: 'Schoolbell', cursive;
    font-size: 1.2em;
}

.see-all:hover {
    color: pink;
}

.add-decks {
    margin: 0;
    padding: 5px 10px;
    background-color: aliceblue;
    border-radius: 5px;
}

.home-decks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.decks {
    justify-content: center;
    background: #d6cfc3b8;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #d6cfc3b8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Schoolbell', cursive;
}

.deck-cards-length {
    width: fit-content;
    margin-left: 10px;
}

.info {
    font-size: 1em;
}

.info-click {
    font-size: 1em;
    cursor: pointer;
}

.info-click:hover {
    color: pink;
}

.stats-icons {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 50%;
    margin-left: 10px;
}