.home-container {
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.home-greeting {
    margin: 0;
    font-family: 'Emilys Candy', cursive;
}

.home-subtitle {
    margin: 0;
    font-family: 'Unkempt', cursive;
    font-size: 1.2em;
}

.profile-icon {
    color: pink;
}

.home-content {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 30px;
}

.home-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.decks-stats, .cards-stats {
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}

.decks-stats {
    background: rgba(244, 192, 192, 0.454);
    border: 2px solid rgb(244, 192, 192);
}

.cards-stats {
    background: rgba(131, 175, 140, 0.454);
    border: 2px solid rgb(131, 175, 140);
}