.review-container {
    margin: 0;
    padding: 24px;
}

.review-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-button {
    align-self: flex-start;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--navy);
}

.back-button:hover {
    color: var(--teal);
}

.review-title {
    margin: 0;
    font-family: 'Emilys Candy', cursive;
    font-size: 1.5rem;
    align-self: flex-start;
    margin-top: -5px;
}

.deck-title {
    margin: 0;
    font-family: 'Unkempt', cursive;
    font-size: 1.25rem;
    margin-top: -5px;
}

.review-header-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.review-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 120px);
    margin-top: 10px;
}

.review-buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin-left: 50px;
}

.review-page {
    font-family: 'Unkempt', cursive;
    font-size: 1.25rem;
    margin: 0;
    margin-left: 50px;
}

.again-button, .next-button, .shuffle-button, .close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--navy);
    padding: 0;
    border-radius: 5px;
}

.again-button:hover, .next-button:hover, .shuffle-button:hover, .close-button:hover {
    color: var(--teal);
}

.review-text {
    font-family: 'Unkempt', cursive;
    font-size: 1.75rem;
    margin: 0;
    margin-top: 350px;
    width: 100%;
    text-align: center;
}