.review-container {
    margin: 0;
    padding: 24px;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    max-width: 800px;
}

.back-button {
    align-self: flex-start;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: #000;
}

.back-button:hover {
    color: #7a8c7c;
}

.review-title {
    margin: 0;
    font-family: 'Emilys Candy', cursive;
    font-size: 1.5rem;
    align-self: flex-start;
}

.review-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 120px);
    margin-top: 10px;
}

.review-buttons {
    display: flex;
    gap: 800px;
    justify-content: space-between;
}

.review-page {
    font-family: 'Unkempt', cursive;
    font-size: 1.25rem;
    margin: 0;
}