.search-bar-container {
    width: 98%;
    cursor: text;
}

.search-bar {
    padding: 10px;
    background: var(--sky-blue);
    border: 2px solid var(--navy);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.search-input {
    width: 100%;
    background: none;
    border: none;
    font-size: 1.2em;
    font-family: 'Schoolbell', cursive;
    color: var(--navy);
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: var(--teal);
}

.clear-button {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .search-bar-container {
        width: 100%;
    }
    .search-bar {
        gap: 10px;
    }
    .search-input {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .search-bar {
        padding: 8px;
    }
    .clear-button {
        font-size: 1.2em;
    }
}