:root {
    --navy: #2f4156;
    --teal: #567c8d;
    --sky-blue: #c8d9e6;
    --beige: #eee6e0;
    --white: #fdfcfb;
}

html {
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy);
    background-color: var(--beige);
    margin-left: 220px;
    padding: 30px;
}